@import "./layout.css";
@import "typography.css";
@import "./glass.css";
@import "./header.css";
@import "./footer.css";
@import "./drawings.generated.css";

@import "./sections/teaser.css";
@import "./sections/text.css";
@import "./sections/directions.css";
@import "./sections/calendar.css";

:root {
    --max-content-width: 1512px;
    --color-bg: #001e00;
    --color-text: #fffef0;
    --color-primary: red;
}

body {
    min-height: 100dvh;
    color: var(--color-text);
}
.bg,
.bg-cnt::before {
    position: fixed;
    inset: 0;
    content: "";
}

.bg-cnt::before {
    background: rgb(0,0,0, .33);
    z-index: -1;
}

.bg {
    z-index: -2;
    width: 100%;
    height: 100%;
}


/* css reset */
body {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}